@import '../../scss-variables.scss';

.search {
  text-align: right;
  position: relative;
  font-family: 'Montserrat Regular';
}

.search-box {
  border: 4px solid $lightBlue;
  border-radius: 2px;
  font-size: 1.2rem;
  transition: width 0.3s;
}

.search-box:focus {
  outline: none;
  border: 4px solid $mainBlue;
}

ul.options {
  display: block;
  list-style: none;
  transition: width 0.3s;
  margin: auto;
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
  font-family: 'Montserrat Regular';
  box-shadow: 0px 4px 14px 0px rgba(50, 50, 50, 0.4);
  background-color: $mainWhite;
  text-align: left;
  padding: 0;
}

ul.options li {
  display: block;
  background: white;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul.options li:hover {
  font-weight: bold;
  color: $mainBlue;
  cursor: pointer;
  transition: 0.3s all;
}

.no-options {
  color: $mainRed;
}

.img-flag {
  width: 50px;
  height: 30px;
}
