@import '../../scss-variables.scss';

.btn {
  text-align: center;
  border-radius: 12rem;
  outline: none;
  font-size: 0.9em;
  font-family: 'Montserrat Medium';
  border: 3px solid;
  height: 2.5rem;
  width: 12em;
  cursor: pointer;
}

.btn--primary {
  background-color: $mainBlue;
  color: $mainWhite;
  border-color: $mainBlue;
}

.btn--outline {
  background-color: transparent;
  color: $mainBlue;
  border-color: $mainBlue;
}

.btn--outline--secondary {
  background-color: transparent;
  color: $mainWhite;
  border-color: $mainBlue;
}

.btn--primary:hover {
  transition: all 0.3s ease-out;
  background-color: $mainWhite;
  color: $mainBlue;
  transition: 250ms;
}

.btn--outline:hover,
.btn--outline--secondary:hover {
  transition: all 0.3s ease-out;
  background-color: $mainBlue;
  color: $mainWhite;
  transition: 250ms;
}
